*.env

/.bundle/

/vendor/

/berks-cookbooks/

/packer/*.json

/containers/vis_confluent_base/include/etc/
/containers/ojdbc6/*.jar

/java/target/

/provisioning/*.template

/cookbooks/kafka-config/.kitchen/