.DS_Store
Dockerfile.ci
.bundle/
vendor/
*.pyc
*.env

/berks-cookbooks/

/provisioning/*.template

/cookbooks/kafka-config/.kitchen/

.vagrant
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~

# Bundler
bin/*
.bundle/*

# test kitchen
.kitchen/
.kitchen.local.yml

# Chef
Berksfile.lock
.zero-knife.rb
Policyfile.lock.json
cookbooks/vendor-cookbooks

manifest.json
